<div class="container ml-5">
    <h1 class="mb-3 mt-3">All Games</h1>
    <table class="table ml-5">
        <thead>
            <th>#</th>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Score</th>
        </thead>
        <tbody>
            <tr *ngFor="let game of games; let i= index">
                <td>{{i+1}}</td>
                <td>{{ game.homeTeam}}</td>
                <td>{{ game.awayTeam}}</td>
                <td>{{ game.homeTeamScore}} : {{game.awayTeamScore}}</td>
            </tr>
        </tbody>
    </table>
</div>

