<div class="row">
    <div class="card mt-5" style="width: 50rem;">
        <div class="card-body">
        <h5 class="card-title">Top 5 Defensive Teams</h5>
        <table class="table table-striped table-hover table-responsive mt-5 mb-5">
        <thead>
            <th>#</th>
            <th>Team Name</th>
            <th>Scored agianst team</th>
        </thead>
        <tbody>
            <tr *ngFor="let team of topDefensiveTeams; let i= index">
                <td>{{i+1}}</td>
                <td>{{ team.key}}</td>
                <td>{{ team.value}}</td>
            </tr>
        </tbody>
    </table>
</div>
