<div class="container ml-5">
    <h1 class="mb-3 mt-3">Highlight Game</h1>
    <table class="table ml-5">
        <thead>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Home Team Score</th>
            <th>Away Team Score</th>
            <th>Combined Score</th>
        </thead>
        <tbody>
                <td>{{ highlightGame?.homeTeam}}</td>
                <td>{{ highlightGame?.awayTeam}}</td>
                <td>{{ highlightGame?.homeTeamScore}}</td>
                <td>{{ highlightGame?.awayTeamScore}}</td>
                <td>{{ highlightGame?.scoreCombined}}</td>
        </tbody>
    </table>
</div>
