<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
      <a class="navbar-brand">Basketball League</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="teams">Teams</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="teams/topOffensive">Top Offensive Teams</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="teams/topDefensive">Top Defensive Teams</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="games">All Games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="games/highlight">Highlight Game</a>
          </li> 
        </ul>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>